@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    background-color: black;
    background-image: url('./assets/background.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;

}